# Node
node_modules/
dist/

# Angular
.angular/
.cache/

# Laravel
vendor/
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ollama/Claude
.claude/cache/

# Docker | PostGres
.docker-compose.yml

# comandos de inicialização
.start-dev.cmd
.stop-dev.cmd